/* Color Scheme -  Pastel orange, peach, & custard */
:root {
    --main-background: ;
    --secondary-background: ;
    --tetiary-background: ;
    --table-background: ;
    --elements-background: ;
}