@import './variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    /* get a working font */
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    background-color: $page-bg-color;
    height: 100vh;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a,
button,
input,
select,
textarea,
fieldset {
    text-decoration: none;
    border: 0;
    outline: none;
    background-color: none;
}