/* Colors */
$primary-color:;
$primary-color-faint:;
$primary-color-faint-2:;
$primary-color-deep:;
$primary-color-very-deep:;
$primary-color-disabled:;
$primary-color-hover:;
$primary-color-active:;
$primary-color-visited:;

$secondary-color:;
$secondary-color-faint:;
$secondary-color-hover:;
$secondary-color-disabled:;
$secondary-color-active:;
$secondary-color-deep:;

$danger:;
$danger-hover:;
$danger-disabled:;
$danger-active:;

$success:;
$success-hover:;
$success-disabled:;
$success-active:;

$page-bg-color:;

$dark:;
$white:;
$black:;
$gray:;

/* Responsiveness breakpoints */
$width-small: 600px;
$width-medium: 1100px;
$width-large: 1400px;